$primary_color: #272727;
$light_color: #4f4f4f;
$dark_color: #000000;
$highlight_color: #29f3c3;
$border_color: #ababab;
$contentFontSize: 1vw;
$topicHeaderFontSize: 2vw;
$contentWidth: 60vw;
$containerMarginTop: 2em;
